In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math
import copy
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv(r'H:\RUET\3--2\CSE 3210- Sessional on 3209\Decision_Tree\Book.csv')
# printing the first 5 rows of the dataset
dataset.head()

     Age  Income Student Credit_rating Buys_computer
0   <=30    High      No          Fair            No
1   <=30    High      No     Excellent            No
2  31-40    High      No          Fair           Yes
3    >40  Medium      No          Fair           Yes
4    >40     Low     Yes          Fair           Yes

In [3]:
dataset.shape

(14, 5)

In [4]:
# getting the statistical measures of the data
dataset.describe()

         Age  Income Student Credit_rating Buys_computer
count     14      14      14            14            14
unique     3       3       2             2             2
top     <=30  Medium      No          Fair           Yes
freq       5       6       7             8             9

In [5]:
dataset['Buys_computer'].value_counts()

Yes    9
No     5
Name: Buys_computer, dtype: int64

In [6]:
# separating the data and labels
X = dataset.drop(columns = 'Buys_computer', axis=1)
Y = dataset['Buys_computer']

In [7]:
print(X)
print(Y)

      Age  Income Student Credit_rating
0    <=30    High      No          Fair
1    <=30    High      No     Excellent
2   31-40    High      No          Fair
3     >40  Medium      No          Fair
4     >40     Low     Yes          Fair
5     >40     Low     Yes     Excellent
6   31-40     Low     Yes     Excellent
7    <=30  Medium      No          Fair
8    <=30     Low     Yes          Fair
9     >40  Medium     Yes          Fair
10   <=30  Medium     Yes     Excellent
11  31-40  Medium      No     Excellent
12  31-40    High     Yes          Fair
13    >40  Medium      No     Excellent
0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Buys_computer, dtype: object

In [8]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2, stratify=Y)
print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(14, 4) (11, 4) (3, 4)
(14,) (11,) (3,)